---
layout: default
title: Neat Starter
path: home
---

{% set postslist = collections.post %}
<div>
  <div>
    <header></header>
    <nav>
      <ul class="group">
        {% for post in postslist | reverse %}
          <li class="project-title">
            {% if post.data.title %}
              <a href="{{ post.url | url }}" class="text-indigo-500 font-bold text-lg">
                {{ post.data.title }}
              </a>
            {% else %}
              Untitled
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <main>
    <section>
      {% for post in postslist | reverse %}
      
      {% endfor %}
    </section>
    <section>
      <a href="#">
        <span class="arrow">↑</span>
        <span class="preserve-whitespace">Back to Top</span>
      </a>
    </section>
  </main>
</div>

<!-- <div class="container mx-auto lg:h-screen flex flex-col justify-center items-center">
  <h1>
    Welcome to
    <strong class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500">
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="netlify cms, eleventy, alpine js & tailwind css">NEAT</abbr>
    Starter Template. Get Started by editing.
    <code class="bg-gray-100 text-blue-800 p-1">/index.njk</code>
  </p>

  {% include "./_includes/partials/content.html" %}
</div> -->